<div class="container">
  <div class="card mt-5 w-75 mx-auto" *ngIf="product">
    <img
      class="card-img-top w-75 mx-auto"
      [src]="product.image"
      alt="Product Image"
    />
    <div class="card-body">
      <h5 class="card-title">
        Name: <strong>{{ product.name }}</strong>
      </h5>
      <h6 class="text-muted">
        Description: <strong>{{ product.description }}</strong>
      </h6>
      <h5>
        Price: <strong>{{ product.price }}</strong
        >$
      </h5>
      <button class="btn btn-md btn-success" (click)="addToCart()">
        (+) Add to Cart
      </button>

      <button
        class="btn btn-lg btn-outline-secondary mt-4 d-block"
        routerLink=""
      >
        Back to products
      </button>
    </div>
  </div>
</div>
